.banner {
  width: 100%;
  height: 100vh;
  background-image: url('../../public/img/banner.png');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  @media(max-width: 962px) {
    align-items: flex-end;
    padding-bottom: 100px;
  }
  h1 {
    font-size: 140px;
    color: white;
    font-family: Bebas;
    line-height: 180px;
    @media(max-width: 1220px) {
      font-size: 64px;
      line-height: 83px;
    }
    span {
      color: #E94E1B;
    }
  }
  &_content {
    &_titles {
      margin-top: 150px;
      @media(max-width: 962px) {
        margin-top: 0;
      }
    }
  }
}
