.contact {
  background-image: url('../../public/img/contact.png');
  width: 100%;
  height: 800px;
  background-position: center;
  background-size: cover;
  padding-top: 300px;
  margin-top: 120px;
  @media(max-width: 767px) {
    margin-top: 40px;
    height: auto;
    padding-top: 0;
    background: none;
  }
  .container-fluid {
   @media(max-width: 767px) {
     background: #f7f7f7;
   }
  }
  &_type {
    background: white;
    padding: 30px;
    margin-bottom: 32px;
    @media(max-width: 767px) {
      padding: 15px;
    }
    .flex {
      display: flex;
      align-items: center;
      div:nth-child(2) {
        margin-left: 65px;
        p:first-child {
          font-size: 18px;
          font-family: RobotoBold;
        }
        p:nth-child(2) {
          display: flex;
          align-items: center;
          img {
            margin-left: 10px;
          }
        }
      }
      p {
        margin-bottom: 0;
      }
      a {
        color: #E94E1B;
        text-decoration: underline;
      }
      .phone {
        background-color: #FEF6F4;
        background-image: url('../../public/img/phone.svg');
        padding: 28px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
      }
      .email {
        background-color: #FEF6F4;
        background-image: url('../../public/img/mail.svg');
        padding: 28px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
      }
      .location {
        background-color: #FEF6F4;
        background-image: url('../../public/img/location.svg');
        padding: 28px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
  &_section {
    background: #F7F7F7;
    padding: 30px;
    @media(max-width: 767px) {
      padding: 30px 0;
    }
    &_form {
      padding: 30px;
      background: white;
      h3 {
        font-size: 40px;
        font-family: RobotoBold;
      }
      label {
        display: block;
        font-size: 18px;
        font-family: RobotoRegular;
        color: #1D1D1B;
      }
      input {
        border: 1px solid #C7C7C7;
        padding: 10px;
        width: 100%;
        margin-bottom: 20px;
      }
      select {
        width: 100%;
        padding: 10px;
        border: 1px solid #C7C7C7;
        margin-bottom: 20px;
      }
      textarea {
        border: 1px solid #C7C7C7;
        width: 100%;
        height: 110px;
        resize: none;
        margin-bottom: 20px;
      }
      button {
        background: #E94E1B;
        border: 1px solid #E94E1B;
        color: white;
        font-family: RobotoBold;
        font-size: 18px;
        padding: 10px 50px;
      }
    }
  }
}
.mapouter {
  display: none;
  position: relative;
  .close {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    background: white;
    padding: 11px;
    border-radius: 27px;
    box-shadow: 0px 8px 18px #0000006b;
  }
}
