.credentials {
  margin-top: 120px;
  @media(max-width: 767px) {
    margin-top: 40px;
  }
  h2 {
    font-size: 40px;
    font-family: RobotoBold;
    @media(max-width: 767px) {
      font-size: 30px;
    }
  }
  h2 + p {
    font-size: 18px;
    font-family: RobotoRegular;
    max-width: 700px;
    text-align: center;
    margin: 16px auto 40px auto;
  }
  &_items {
    margin-bottom: 120px;
    @media(max-width: 767px) {
      margin-bottom: 40px;
    }
    &_item {
      margin: 0 15px;
      h3 {
        margin-top: 20px;
        font-size: 18px;
        font-family: RobotoBold;
      }
    }
    .slick-slide {
      height: 520px;
      @media(max-width: 767px) {
        height: 210px;
      }
      @media(max-width: 1200px) {
        height: 317px;
      }
      @media(max-width: 962px) {
        height: 170px;
      }
      img {
        object-fit: cover;
      }
    }
    .slick-prev {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -10px;
      z-index: 99;
      background: white;
      padding: 10px 15px;
      border: 1px solid #E9E9E9;
      &:focus {
        border: none;
      }
    }
    .slick-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -10px;
      z-index: 99;
      padding: 10px 15px;
      border: 1px solid #E9E9E9;
      background: white;
      &:focus {
        border: none;
      }
    }
  }
}
