footer {
  margin-top: 250px;
  @media(max-width: 767px) {
    margin-top: 40px;
  }
  p {
    font-size: 18px;
    font-family: RobotoBold;
  }
  a {
    display: block;
    color: black;
    margin-bottom: 10px;
    font-family: RobotoRegular;
    img:first-child {
      margin-right: 5px;
      width: 15px;
    }
  }
  .footer_wp {
    margin-left: 7px;
    width: 15px;
  }
}
