.popup {
  position: absolute;
  width: 1064px;
  background: white;
  padding: 30px;
  top: 10px;
  transform: translateX(-50%);
  left: 50%;
  z-index: 999;
  display: none;
  @media(max-width: 1090px) {
    width: 700px;
  }
  @media(max-width: 705px) {
    width: 450px;
  }
  @media(max-width: 460px) {
    width: 345px;
  }
  &.active {
    display: block;
  }
  .slick-slide  img{
    width: 100%;
    margin-bottom: 15px;
    height: 500px;
    object-fit: cover;
  }
  .close {
    position: absolute;
    right: 30px;
    top: 20px;
    width: 24px !important;
    &:hover {
      cursor: pointer;
    }
  }
  p {
    font-family: RobotoRegular;
  }
  &_overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #1d1d1bb3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    display: none;
    &.active {
      display: block;
    }
  }
}


.cr_popup {
  position: absolute;
  width: 1064px;
  background: white;
  padding: 30px;
  top: 10px;
  transform: translateX(-50%);
  left: 50%;
  z-index: 999;
  display: none;
  @media(max-width: 1090px) {
    width: 700px;
  }
  @media(max-width: 705px) {
    width: 450px;
  }
  @media(max-width: 460px) {
    width: 345px;
  }
  &.active {
    display: block;
  }
  .slick-slide  img{
    width: 100%;
    margin-bottom: 15px;
    height: 500px;
    object-fit: cover;
  }
  .close {
    position: absolute;
    right: 16px;
    top: 13px;
    width: 15px !important;
    &:hover {
      cursor: pointer;
    }
  }
}
