.services {
  margin-top:  120px;
  background: #F7F7F7;
  padding: 50px 0;
  @media(max-width: 767px) {
    margin-top: 40px;
  }
  h2 {
    font-size: 40px;
    font-family: RobotoBold;
    margin-bottom: 40px;
    @media(max-width: 767px) {
      font-size: 30px;
    }
  }
  h2 + p {
    font-size: 18px;
    line-height: 27px;
    font-family: RobotoRegular;
    max-width: 740px;
    margin: 0 auto 40px auto;
  }
  &_item {
    transition: 200ms;
    margin-bottom: 32px;
    img {
      height: 315px;
      object-fit: cover;
    }
    &_desc {
      padding: 20px;
      background: white;
      h4 {
        font-size: 18px;
        font-family: RobotoBold;
      }
      p {
        font-size: 16px;
        font-family: RobotoRegular;
        @media(max-width: 767px) {
          display: none;
        }
      }
    }
    &:hover {
      box-shadow: 0px 20px 30px #00000029;
      cursor: pointer;
    }
  }
}



.popup_slider  {
  .slick-prev {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 9999;
    transform: translateY(-50%);
    padding: 17px;
    border: none;
    background: #ffffffb5;
    box-shadow: 0px 10px 20px #e0e0e0;
    img {
      margin-bottom: 0 !important;
    }
  }
  .slick-next {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 9999;
    transform: translateY(-50%);
    padding: 17px;
    border: none;
    background: #ffffffb5;
    box-shadow: 0px 10px 20px #e0e0e0;
    img {
      margin-bottom: 0 !important;
    }
  }
}

.cr_popup_slider {
  .slick-prev {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 9999;
    transform: translateY(-50%);
    padding: 17px;
    border: none;
    background: #ffffffb5;
    box-shadow: 0px 10px 20px #e0e0e0;
    img {
      margin-bottom: 0 !important;
    }
  }
  .slick-next {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 9999;
    transform: translateY(-50%);
    padding: 17px;
    border: none;
    background: #ffffffb5;
    box-shadow: 0px 10px 20px #e0e0e0;
    img {
      margin-bottom: 0 !important;
    }
  }
}
