@font-face {
  font-family: "RobotoBold";
  src: url(/fonts/Roboto-bold.ttf?e07df86cef2e721115583d61d1fb68a6);
}

@font-face {
  font-family: "RobotoRegular";
  src: url(/fonts/Roboto-regular.ttf?11eabca2251325cfc5589c9c6fb57b46);
}

@font-face {
  font-family: "Bebas";
  src: url(/fonts/BebasNeue-Regular.ttf?21bb70b62317f276f2e97a919ff5bd8c);
}

.text-center {
  text-align: center;
}

.container-fluid {
  padding-left: 140px !important;
  padding-right: 140px !important;
}

@media (max-width: 1100px) {
  .container-fluid {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

body {
  position: relative;
}

.is-invalid {
  border: 1px solid red !important;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: url(/images/main-banner.jpg?85c2c2c6420629a07eb5fcd39793a351);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}

@media (max-width: 962px) {
  .banner {
    align-items: flex-end;
    padding-bottom: 100px;
  }
}

.banner h1 {
  font-size: 140px;
  color: white;
  font-family: Bebas;
  line-height: 180px;
}

@media (max-width: 1220px) {
  .banner h1 {
    font-size: 64px;
    line-height: 83px;
  }
}

.banner h1 span {
  color: #E94E1B;
}

.banner_content_titles {
  margin-top: 150px;
}

@media (max-width: 962px) {
  .banner_content_titles {
    margin-top: 0;
  }
}

header {
  position: absolute;
  top: 0;
  transition: 350ms;
  width: 100%;
}

header.fixed {
  position: -webkit-sticky;
  position: sticky;
  background: #00000061;
  z-index: 99999;
}

.header {
  justify-content: space-between;
  padding: 15px 0;
  align-items: center;
}

.header .hamburger {
  display: none;
}

@media (max-width: 962px) {
  .header .hamburger {
    display: block;
  }
}

@media (max-width: 962px) {
  .header .menu {
    display: none;
  }
}

.header ul {
  list-style: none;
  display: flex;
}

.header ul li {
  padding: 11px 27px;
  position: relative;
}

@media (max-width: 1150px) {
  .header ul li {
    padding: 11px 23px;
  }
}

.header ul li a {
  color: white;
  font-family: RobotoBold;
}

.header ul li a:hover {
  text-decoration: none;
}

.header ul li ul {
  position: absolute;
  top: 45px;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 0;
  width: 300px;
  box-shadow: 0px 10px 20px #00000029;
  display: none;
}

.header ul li ul li {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.header ul li ul li a {
  color: black;
}

.header ul li:hover:after {
  transform: rotate(0deg);
  top: 18px;
}

.header ul li:hover ul {
  display: block;
}

.header .dropdown:after {
  content: "";
  position: absolute;
  top: 16px;
  right: 10px;
  width: 15px;
  height: 10px;
  background-image: url(/images/down-arrow.svg?7fafc43e37b472f395cfdcb28445e174);
  background-repeat: no-repeat;
  transform: rotate(180deg);
  transition: 250ms;
}

.mobile_menu {
  position: fixed;
  left: -350px;
  background: white;
  top: 0;
  padding: 45px 20px 20px 20px;
  height: 100vh;
  width: 310px;
  z-index: 999;
  transition: 250ms;
}

.mobile_menu.active {
  left: 0;
}

.mobile_menu .close {
  position: absolute;
  right: 14px;
  top: 14px;
  width: 24px;
}

.mobile_menu ul {
  list-style: none;
  padding: 0;
}

.mobile_menu ul .dropdown {
  position: relative;
}

.mobile_menu ul .dropdown:after {
  content: "";
  position: absolute;
  top: 4px;
  right: 10px;
  width: 15px;
  height: 10px;
  background-image: url(/images/up-arrow.svg?dc545e717fdfd45900359fc4ac59806b);
  background-repeat: no-repeat;
  transition: 250ms;
  transform: rotate(180deg);
}

.mobile_menu ul .dropdown ul {
  display: none;
}

.mobile_menu ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.mobile_menu ul li:nth-child(5) {
  float: left;
  margin-right: 16px;
}

.mobile_menu ul li {
  font-family: RobotoBold;
  padding: 8px 0;
}

.mobile_menu ul li a {
  color: black;
}

.mobile_menu ul li ul li {
  font-family: RobotoRegular;
  border-bottom: none !important;
}

header.black {
  position: relative;
}

header.black .dropdown:after {
  content: "";
  position: absolute;
  top: 20px;
  right: 5px;
  width: 15px;
  height: 10px;
  background-image: url(/images/down-arrow_black.svg?594ea60955f0d5012145f59114454ee6);
  background-repeat: no-repeat;
  transform: rotate(0);
  transition: 250ms;
}

header.black ul li:hover:after {
  transform: rotate(180deg);
  top: 18px;
}

header.black ul li:hover ul {
  display: block;
}

header.black ul li a {
  color: black;
}

.about {
  margin-top: 120px;
}

@media (max-width: 767px) {
  .about {
    margin-top: 40px;
  }
}

.about h2 {
  font-size: 40px;
  font-family: RobotoBold;
  padding-bottom: 40px;
}

@media (max-width: 767px) {
  .about h2 {
    font-size: 30px;
  }
}

.about_container h3 {
  font-size: 24px;
  font-family: RobotoBold;
}

.about_container p {
  font-size: 18px;
  font-family: RobotoRegular;
  margin-bottom: 30px;
}

.about_container img {
  margin-bottom: 60px;
}

.about_container h5 {
  font-weight: normal;
  font-size: 18px;
  font-family: RobotoRegulars;
}

.about_container ul {
  padding: 0px 0 0 20px;
  font-family: RobotoRegular;
}

@media (max-width: 767px) {
  .about_container .col-12:nth-child(3) {
    order: 1;
  }
}

.services {
  margin-top: 120px;
  background: #F7F7F7;
  padding: 50px 0;
}

@media (max-width: 767px) {
  .services {
    margin-top: 40px;
  }
}

.services h2 {
  font-size: 40px;
  font-family: RobotoBold;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .services h2 {
    font-size: 30px;
  }
}

.services h2 + p {
  font-size: 18px;
  line-height: 27px;
  font-family: RobotoRegular;
  max-width: 740px;
  margin: 0 auto 40px auto;
}

.services_item {
  transition: 200ms;
  margin-bottom: 32px;
}

.services_item img {
  height: 315px;
  -o-object-fit: cover;
     object-fit: cover;
}

.services_item_desc {
  padding: 20px;
  background: white;
}

.services_item_desc h4 {
  font-size: 18px;
  font-family: RobotoBold;
}

.services_item_desc p {
  font-size: 16px;
  font-family: RobotoRegular;
}

@media (max-width: 767px) {
  .services_item_desc p {
    display: none;
  }
}

.services_item:hover {
  box-shadow: 0px 20px 30px #00000029;
  cursor: pointer;
}

.popup_slider .slick-prev {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 9999;
  transform: translateY(-50%);
  padding: 17px;
  border: none;
  background: #ffffffb5;
  box-shadow: 0px 10px 20px #e0e0e0;
}

.popup_slider .slick-prev img {
  margin-bottom: 0 !important;
}

.popup_slider .slick-next {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 9999;
  transform: translateY(-50%);
  padding: 17px;
  border: none;
  background: #ffffffb5;
  box-shadow: 0px 10px 20px #e0e0e0;
}

.popup_slider .slick-next img {
  margin-bottom: 0 !important;
}

.cr_popup_slider .slick-prev {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 9999;
  transform: translateY(-50%);
  padding: 17px;
  border: none;
  background: #ffffffb5;
  box-shadow: 0px 10px 20px #e0e0e0;
}

.cr_popup_slider .slick-prev img {
  margin-bottom: 0 !important;
}

.cr_popup_slider .slick-next {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 9999;
  transform: translateY(-50%);
  padding: 17px;
  border: none;
  background: #ffffffb5;
  box-shadow: 0px 10px 20px #e0e0e0;
}

.cr_popup_slider .slick-next img {
  margin-bottom: 0 !important;
}

.credentials {
  margin-top: 120px;
}

@media (max-width: 767px) {
  .credentials {
    margin-top: 40px;
  }
}

.credentials h2 {
  font-size: 40px;
  font-family: RobotoBold;
}

@media (max-width: 767px) {
  .credentials h2 {
    font-size: 30px;
  }
}

.credentials h2 + p {
  font-size: 18px;
  font-family: RobotoRegular;
  max-width: 700px;
  text-align: center;
  margin: 16px auto 40px auto;
}

.credentials_items {
  margin-bottom: 120px;
}

@media (max-width: 767px) {
  .credentials_items {
    margin-bottom: 40px;
  }
}

.credentials_items_item {
  margin: 0 15px;
}

.credentials_items_item h3 {
  margin-top: 20px;
  font-size: 18px;
  font-family: RobotoBold;
}

.credentials_items .slick-slide {
  height: 520px;
}

@media (max-width: 767px) {
  .credentials_items .slick-slide {
    height: 210px;
  }
}

@media (max-width: 1200px) {
  .credentials_items .slick-slide {
    height: 317px;
  }
}

@media (max-width: 962px) {
  .credentials_items .slick-slide {
    height: 170px;
  }
}

.credentials_items .slick-slide img {
  -o-object-fit: cover;
     object-fit: cover;
}

.credentials_items .slick-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -10px;
  z-index: 99;
  background: white;
  padding: 10px 15px;
  border: 1px solid #E9E9E9;
}

.credentials_items .slick-prev:focus {
  border: none;
}

.credentials_items .slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -10px;
  z-index: 99;
  padding: 10px 15px;
  border: 1px solid #E9E9E9;
  background: white;
}

.credentials_items .slick-next:focus {
  border: none;
}

.contact {
  background-image: url(/images/contact.png?3ba6cc2ecb0d88dd2275fd5c2898a331);
  width: 100%;
  height: 800px;
  background-position: center;
  background-size: cover;
  padding-top: 300px;
  margin-top: 120px;
}

@media (max-width: 767px) {
  .contact {
    margin-top: 40px;
    height: auto;
    padding-top: 0;
    background: none;
  }
}

@media (max-width: 767px) {
  .contact .container-fluid {
    background: #f7f7f7;
  }
}

.contact_type {
  background: white;
  padding: 30px;
  margin-bottom: 32px;
}

@media (max-width: 767px) {
  .contact_type {
    padding: 15px;
  }
}

.contact_type .flex {
  display: flex;
  align-items: center;
}

.contact_type .flex div:nth-child(2) {
  margin-left: 65px;
}

.contact_type .flex div:nth-child(2) p:first-child {
  font-size: 18px;
  font-family: RobotoBold;
}

.contact_type .flex div:nth-child(2) p:nth-child(2) {
  display: flex;
  align-items: center;
}

.contact_type .flex div:nth-child(2) p:nth-child(2) img {
  margin-left: 10px;
}

.contact_type .flex p {
  margin-bottom: 0;
}

.contact_type .flex a {
  color: #E94E1B;
  text-decoration: underline;
}

.contact_type .flex .phone {
  background-color: #FEF6F4;
  background-image: url(/images/phone.svg?923595c6697786a09dd03f90b66723c8);
  padding: 28px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.contact_type .flex .email {
  background-color: #FEF6F4;
  background-image: url(/images/mail.svg?e1633e2c677c939af8785a7cd809a8a0);
  padding: 28px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.contact_type .flex .location {
  background-color: #FEF6F4;
  background-image: url(/images/location.svg?a8bb7f21b801d571fabd9496a0fbe612);
  padding: 28px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.contact_section {
  background: #F7F7F7;
  padding: 30px;
}

@media (max-width: 767px) {
  .contact_section {
    padding: 30px 0;
  }
}

.contact_section_form {
  padding: 30px;
  background: white;
}

.contact_section_form h3 {
  font-size: 40px;
  font-family: RobotoBold;
}

.contact_section_form label {
  display: block;
  font-size: 18px;
  font-family: RobotoRegular;
  color: #1D1D1B;
}

.contact_section_form input {
  border: 1px solid #C7C7C7;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.contact_section_form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #C7C7C7;
  margin-bottom: 20px;
}

.contact_section_form textarea {
  border: 1px solid #C7C7C7;
  width: 100%;
  height: 110px;
  resize: none;
  margin-bottom: 20px;
}

.contact_section_form button {
  background: #E94E1B;
  border: 1px solid #E94E1B;
  color: white;
  font-family: RobotoBold;
  font-size: 18px;
  padding: 10px 50px;
}

.mapouter {
  display: none;
  position: relative;
}

.mapouter .close {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  background: white;
  padding: 11px;
  border-radius: 27px;
  box-shadow: 0px 8px 18px #0000006b;
}

footer {
  margin-top: 250px;
}

@media (max-width: 767px) {
  footer {
    margin-top: 40px;
  }
}

footer p {
  font-size: 18px;
  font-family: RobotoBold;
}

footer a {
  display: block;
  color: black;
  margin-bottom: 10px;
  font-family: RobotoRegular;
}

footer a img:first-child {
  margin-right: 5px;
  width: 15px;
}

footer .footer_wp {
  margin-left: 7px;
  width: 15px;
}

.popup {
  position: absolute;
  width: 1064px;
  background: white;
  padding: 30px;
  top: 10px;
  transform: translateX(-50%);
  left: 50%;
  z-index: 999;
  display: none;
}

@media (max-width: 1090px) {
  .popup {
    width: 700px;
  }
}

@media (max-width: 705px) {
  .popup {
    width: 450px;
  }
}

@media (max-width: 460px) {
  .popup {
    width: 345px;
  }
}

.popup.active {
  display: block;
}

.popup .slick-slide img {
  width: 100%;
  margin-bottom: 15px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.popup .close {
  position: absolute;
  right: 30px;
  top: 20px;
  width: 24px !important;
}

.popup .close:hover {
  cursor: pointer;
}

.popup p {
  font-family: RobotoRegular;
}

.popup_overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #1d1d1bb3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  display: none;
}

.popup_overlay.active {
  display: block;
}

.cr_popup {
  position: absolute;
  width: 1064px;
  background: white;
  padding: 30px;
  top: 10px;
  transform: translateX(-50%);
  left: 50%;
  z-index: 999;
  display: none;
}

@media (max-width: 1090px) {
  .cr_popup {
    width: 700px;
  }
}

@media (max-width: 705px) {
  .cr_popup {
    width: 450px;
  }
}

@media (max-width: 460px) {
  .cr_popup {
    width: 345px;
  }
}

.cr_popup.active {
  display: block;
}

.cr_popup .slick-slide img {
  width: 100%;
  margin-bottom: 15px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cr_popup .close {
  position: absolute;
  right: 16px;
  top: 13px;
  width: 15px !important;
}

.cr_popup .close:hover {
  cursor: pointer;
}

.data h1 {
  margin-bottom: 40px;
  font-family: RobotoBold;
}

@media (max-width: 767px) {
  .data h1 {
    font-size: 21px;
  }
}

.data h3 {
  font-family: RobotoBold;
}

@media (max-width: 767px) {
  .data h3 {
    font-size: 18px;
  }
}

.data p {
  font-family: RobotoRegular;
}

